<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Sản phẩm</span>
  <span class="spacer"></span>
  <button mat-icon-button class="search-icon" aria-label="Example icon-button with search icon">
    <mat-icon>search</mat-icon>
  </button>
  
</mat-toolbar>

<h1> Các sản phẩm</h1>
<div class="content">
<mat-card *ngFor="let whey of wheys">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title-group>
    <mat-card-title class="name">{{whey.name}}</mat-card-title>
    <mat-card-subtitle class="sub">Whey Protein</mat-card-subtitle>
  </mat-card-title-group>
  </mat-card-header>
  <div class="other-info">  
    <mat-card-content>
      <img mat-card-image [src]="whey.image" alt="Whey Protein">
    <div class="status">{{whey.status}}</div>
    <hr>    
      <p class="price">
        {{whey.price}}
      </p>
    </mat-card-content>
  </div>
 
  <mat-card-footer>
  <mat-card-actions>
    <button mat-button class="Mua">Mua</button>
    <button mat-button class="Thich" (click)="like(whey.name)">Thích</button>
    
  </mat-card-actions>
</mat-card-footer>
</mat-card>
