<mat-toolbar color="primary">

  <button (click)='goToHome()' mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button (click)="goToHome" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

<button class="login" (click)='login()'> Log in</button>

<button class="logout" (click)='logout()'> Log out</button>
<div *ngIf="authService.currentUser"> {{authService.currentUser.displayName}}</div>
<img *ngIf="authService.currentUser" [src]="authService.currentUser.photoURL" alt="">
</mat-toolbar>
<!-- <img *ngIf="" [src]="authService.currentUser.photoURL" alt="">  -->

<router-outlet></router-outlet>